# Week 1 - Preprocessing

## Please run the cells of the notebook as you get to them while reading

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# 1. Lesson on how to search for Python commands

Let's consider a few possible ways to learn about Python programming.  Let's suppose you want to learn how to produce a short summary of the information in your DataFrame.

1. Your **instructor** could provide the information.

You could be provided with a lesson about functions like info() and describe().  If you have a pandas DataFrame called df, then you can summarize its contents using df.info() or df.describe().  df.info() provides a list of column names with their counts and data types.  df.describe() will provide information such as the mean, min, max, standard deviation, and quantiles.  Thus:

In [2]:
df = pd.DataFrame([[1, 4], [2, 5], [3, 6], [4, 7]], columns = ['A', 'B'])
df.describe()

              A         B
count  4.000000  4.000000
mean   2.500000  5.500000
std    1.290994  1.290994
min    1.000000  4.000000
25%    1.750000  4.750000
50%    2.500000  5.500000
75%    3.250000  6.250000
max    4.000000  7.000000

In this describe() result, we see that the two columns A and B each have four elements.  The means and other statistics are shown.

2. You could look up the information on **Google**.

If I Google the question "how do I briefly summarize the contents of a dataframe using Python," I receive the following link (among others), which discusses the describe() command mentioned above:

https://www.w3schools.com/python/pandas/ref_df_describe.asp

It also provide the complete usage information:

dataframe.describe(percentiles, include, exclude, datetime_is_numeric)

It explains that "percentiles" is set by default to [0.25, 0.5, 0.75] but we could change that.  Let's try it!  Since there are three intervals here rather than four, it might be more meaningful to ask about a 33rd and 67th percentile rather than 25, 50, and 75.  We can use 1/3 for 0.33 and 2/3 for 0.67 to get the exact percentile values.

In [3]:
df = pd.DataFrame([[1, 4], [2, 5], [3, 6], [4, 7]], columns = ['A', 'B'])
df.describe(percentiles = [1/3, 2/3])

              A         B
count  4.000000  4.000000
mean   2.500000  5.500000
std    1.290994  1.290994
min    1.000000  4.000000
33.3%  2.000000  5.000000
50%    2.500000  5.500000
66.7%  3.000000  6.000000
max    4.000000  7.000000

Apparently, the 50% value (the median) stays even though we did not specifically request it.

3. You could look up the official **documentation**.

Now that we know we want the pandas describe() function, try Googling: pandas documentation describe.

Here is the general documentation page for pandas:

https://pandas.pydata.org/docs/index.html

Here is the specific page for the describe() function:

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

When I look at this, it appears to be showing the most recent (currently 2.2) version of pandas; this is shown in the upper right corner.

4. You could also ask **ChatGPT**.

Let's try it.  ChatGPT, "how do I briefly summarize the contents of a dataframe using Python"

When I do this, ChatGPT mentions describe() among other options, but does not go into detail.  However, I could ask it.  ChatGPT, "tell me more about describe() in Python for summarizing dataframes."

Then, I get a good explanation of describe(), although it does not mention the percentiles option.  One advantage of using Google or the documentation in addition of ChatGPT is that these sources may provide interesting information that does not directly answer our question.  Thus, we might not have known about the various arguments, such as percentiles, if we only used ChatGPT.  A second issue is that ChatGPT sometimes hallucinates (it makes up information).  In general, by examining multiple sources - Google, documentation, and ChatGPT - we can get more information.

# 2. Weekly graph question

In Storytelling With Data, on page 1: examine the pie chart graph in the upper left corner of the graphs.  Please write a short explanation of the pros and cons of this graph.  What do you think of the choice of pie chart as a format?  The color scheme?  The legend?  The title?  How would you draw it differently if you were creating this graph?

In [ ]:
# Pros 
# The chart clearly shows the relative proportions of each response category
# colors helps to differentiate the category 
# We know the chart is about survey results because of the title named survey results 

# Cons 
# The legend is far away from the chart so it is too much eye movement to label each slice 
# Pie charts are not that precise in comparing similar percentages 

# Sugesstions 
# Add labels directly on or next to the slices
# Use a bar chart instead
# Use a more descriptive title 
# Add a variety of colors so similar colors are not used

# 3. Homework - Bank Customers

I will begin by creating a file for you to analyze.  I will show you all of the steps I used to create it.  Please run this code in order to create and save a file about bank customers.

### The numbered problems are for you to solve.

In [5]:
num_customers = 100
np.random.seed(0)

In [6]:
df_bank = pd.DataFrame(columns = ["CustomerID"])

In [7]:
df_bank["CustomerID"] = [str(x) for x in np.arange(num_customers)]

In [8]:
start = datetime(1950, 1, 1)
end = datetime(2024, 1, 1)
numdays = (end - start).days
random_days = np.random.randint(0, numdays, size = num_customers)
df_bank["BirthDate"] = start + pd.to_timedelta(random_days, unit='D')
df_bank["BirthDate"] = df_bank["BirthDate"].dt.strftime('%Y-%m-%d')

In [9]:
def make_ssn_string(num):
    ssn_str = f'{num:09}'
    return ssn_str[0:3] + "-" + ssn_str[3:5] + "-" + ssn_str[5:9]
ssn_vector_func = np.vectorize(make_ssn_string)
df_bank["SSN"] = ssn_vector_func(np.random.randint(0, 999999999, size = num_customers))

In [10]:
df_bank["AccountID"] = np.random.randint(0, num_customers, size = num_customers)

In [11]:
random_days = np.random.randint(0, 365 * 80, size = num_customers)
df_bank["AccountOpened"] = (pd.to_datetime(df_bank["BirthDate"]) + pd.to_timedelta(random_days, unit='D')).dt.strftime('%Y-%m-%d')

In [12]:
df_bank.loc[0, "BirthDate"] = "1980"
df_bank.loc[1, "BirthDate"] = "no date"

In [13]:
df_bank.loc[2, "AccountID"] = np.nan

In [14]:
df_bank["AccountType"] = np.random.choice(["checking", "savings", "cd"], size = num_customers)

Load the bank_customers.csv file.  (There is no practical reason to save it, then load it - we're just demonstrating how this would be done.)
I am calling the loaded df by a new name, df_bank_loaded, to make clear why it's not the same variable as the old df.  Of course, in actuality the two contain the exact same data!  But it's good to get in the habit of naming things carefully.

In [15]:
df_bank.loc[num_customers - 1] = df.loc[0]
df_bank.to_csv("bank_customers.csv", index=False)

In [16]:
df_bank_loaded = pd.read_csv("bank_customers.csv")

1. Use describe() and info() to analyze the data.   Also, look at the first few rows.

In [24]:
print(df_bank_loaded.describe(include='all'))
print(df_bank_loaded.info())
print(df_bank_loaded.head())

        CustomerID BirthDate          SSN  AccountID  \
count    99.000000        99           99  98.000000
unique         NaN        99           99        NaN
top            NaN      1980  530-47-1866        NaN
freq           NaN         1            1        NaN
mean     49.000000       NaN          NaN  46.551020
min       0.000000       NaN          NaN   0.000000
25%      24.500000       NaN          NaN  25.500000
50%      49.000000       NaN          NaN  42.000000
75%      73.500000       NaN          NaN  71.000000
max      98.000000       NaN          NaN  97.000000
std      28.722813       NaN          NaN  27.679358

                        AccountOpened AccountType
count                              99          99
unique                            NaN           3
top                               NaN     savings
freq                              NaN          35
mean    2033-03-27 14:18:10.909090816         NaN
min               1953-05-05 00:00:00         NaN
25%               2011-04-11 00:00:00         NaN
50%               2032-09-02 00:00:00         NaN
75%               2061-03-15 12:00:00         NaN
max               2095-12-10 00:00:00         NaN
std                               NaN         NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     99 non-null     float64
 1   BirthDate      99 non-null     object
 2   SSN            99 non-null     object
 3   AccountID      98 non-null     float64
 4   AccountOpened  99 non-null     datetime64[ns]
 5   AccountType    99 non-null     object
dtypes: datetime64[ns](1), float64(2), object(3)
memory usage: 4.8+ KB
None
   CustomerID   BirthDate          SSN  AccountID AccountOpened AccountType
0         0.0        1980  530-47-1866        4.0    1959-12-06    checking
1         1.0     no date  682-76-9175       67.0    2039-02-20          cd
2         2.0  1976-12-15  377-98-9839        NaN    2019-03-25    checking
3         3.0  2003-10-18  474-05-7613       86.0    2004-03-02          cd
4         4.0  1985-12-06  750-55-5509       77.0    2059-05-05          cd

Suggested Google Search or ChatGPT prompt: "how do I use the describe function in python"

Example Google result: https://www.w3schools.com/python/pandas/ref_df_describe.asp

In [17]:
# The first few rows
df_bank_loaded.iloc[0:5]

   CustomerID   BirthDate          SSN  AccountID AccountOpened AccountType
0         0.0        1980  530-47-1866        4.0    1959-12-06    checking
1         1.0     no date  682-76-9175       67.0    2039-02-20          cd
2         2.0  1976-12-15  377-98-9839        NaN    2019-03-25    checking
3         3.0  2003-10-18  474-05-7613       86.0    2004-03-02          cd
4         4.0  1985-12-06  750-55-5509       77.0    2059-05-05          cd

If you used describe() and info(), you now know that BirthDate and AccountOpened are strings.  But we want them to be dates.  Let's convert them to dates (or Timestamps in pandas).  When we try this, we get a ValueError.

In [18]:
try:
    df_bank_loaded["BirthDate"] = pd.to_datetime(df_bank_loaded["BirthDate"], format='%Y-%m-%d')
    print("It worked!")
except ValueError as e:
    print(f"ValueError for BirthDate: {e}")

ValueError for BirthDate: time data "1980" doesn't match format "%Y-%m-%d", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [19]:
try:
    df_bank_loaded["AccountOpened"] = pd.to_datetime(df_bank_loaded["AccountOpened"], format='%Y-%m-%d')
    print("It worked!")
except ValueError as e:
    print(f"ValueError for AccountOpened: {e}")

It worked!

The simple way to fix this is to remove the rows that have bad dates for BirthDate.  I Googled:

"How to remove rows from a dataframe that have poorly formatted dates using python"

https://stackoverflow.com/questions/21556744/pandas-remove-rows-whose-date-does-not-follow-specified-format

This recommends that I verify that the date is a string of length 10, because YYYY-MM-DD has that length:

df1\[df1.BirthDate.str.len() !=10]

In [20]:
len(df_bank_loaded[df_bank_loaded.BirthDate.str.len() == 10])

97

In [21]:
df_bank_loaded[df_bank_loaded.BirthDate.str.len() != 10].iloc[0:5]

    CustomerID BirthDate          SSN  AccountID AccountOpened AccountType
0          0.0      1980  530-47-1866        4.0    1959-12-06    checking
1          1.0   no date  682-76-9175       67.0    2039-02-20          cd
99         NaN       NaN          NaN        NaN           NaT         NaN

Now we can make this permanent, creating a new DataFrame df_bank_datefix.
I am making a copy in order to ensure that df_bank_datefix is a new DataFrame rather than being a slice of the old one.

In [22]:
df_bank_datefix = df_bank_loaded[df_bank_loaded.BirthDate.str.len() == 10].copy()

Test again:

In [23]:
try:
    df_bank_datefix["BirthDate"] = pd.to_datetime(df_bank_datefix["BirthDate"], format='%Y-%m-%d')
    print("It worked!")
except ValueError as e:
    print(f"ValueError: {e}")

It worked!

In [25]:
df_bank_loaded["BirthDate"] = pd.to_datetime(
    df_bank_loaded["BirthDate"], format='%Y-%m-%d', errors='coerce'
)

2. To check that it worked, use a summary function that will tell you if the BirthDate field is now a datetime type

In [26]:
print(df_bank_loaded.dtypes)
print(df_bank_loaded["BirthDate"].dtype)

CustomerID              float64
BirthDate        datetime64[ns]
SSN                      object
AccountID               float64
AccountOpened    datetime64[ns]
AccountType              object
dtype: object
datetime64[ns]

3. Check whether there are any null values in the DataFrame.  If so, remove those rows or (if you prefer) fill in the value with an appropriate number.

First try at a Google search or ChatGPT prompt: "how do I find out if there are any null values in a pandas DataFrame?"

This page gives an answer.  Unfortunately, it took my request too literally: it tells me only if there are any, and not which rows have them.  On reflection, that's not really what I want - I think I asked the wrong question.  I want to see the rows, not just _whether_ there are any.

https://stackoverflow.com/questions/29530232/how-to-check-if-any-value-is-nan-in-a-pandas-dataframe

ChatGPT likewise doesn't give the answer I want - because I asked the wrong question.

Next try at a Google search or ChatGPT prompt: "how do I check which rows have null values in a pandas DataFrame?"

This page gives an answer:

https://stackoverflow.com/questions/36226083/how-to-find-which-columns-contain-any-nan-value-in-pandas-dataframe

ChatGPT also gives a good answer.  I recommend looking at both of them!

Now try it on your own:

Suggested Google search or ChatGPT prompt: "how do I remove rows with null values in a pandas DataFrame?"

Suggested Google search or ChatGPT prompt: "how do I fill in null values in a pandas DataFrame?"

In [27]:
print(df_bank_loaded.isnull())

    CustomerID  BirthDate    SSN  AccountID  AccountOpened  AccountType
0        False       True  False      False          False        False
1        False       True  False      False          False        False
2        False      False  False       True          False        False
3        False      False  False      False          False        False
4        False      False  False      False          False        False
..         ...        ...    ...        ...            ...          ...
95       False      False  False      False          False        False
96       False      False  False      False          False        False
97       False      False  False      False          False        False
98       False      False  False      False          False        False
99        True       True   True       True           True         True

[100 rows x 6 columns]

In [28]:
print(df_bank_loaded.isnull().any(axis=1))

0      True
1      True
2      True
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99     True
Length: 100, dtype: bool

In [29]:
print(df_bank_loaded[df_bank_loaded.isnull().any(axis=1)])

    CustomerID  BirthDate          SSN  AccountID AccountOpened AccountType
0          0.0        NaT  530-47-1866        4.0    1959-12-06    checking
1          1.0        NaT  682-76-9175       67.0    2039-02-20          cd
2          2.0 1976-12-15  377-98-9839        NaN    2019-03-25    checking
99         NaN        NaT          NaN        NaN           NaT         NaN

In [30]:
df_bank_cleaned = df_bank_loaded.dropna()

4. Find out if there are any duplicate rows (two rows exactly the same).  List their row numbers.  Then remove the duplicates

Suggested Google search or ChatGPT prompt: "how can I find out if there are any duplicate rows in a DataFrame using Python"

Again, Google provides me with a page that addresses the question:

https://saturncloud.io/blog/how-to-find-all-duplicate-rows-in-a-pandas-dataframe/

To remove the duplicates, do this search: "how can I remove the duplicate rows in a DataFrame using Python"

This leads me to the following documentation.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

In [31]:
duplicates = df_bank_loaded.duplicated()

In [32]:
print(duplicates)

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [33]:
print(df_bank_loaded[duplicates])

Empty DataFrame
Columns: [CustomerID, BirthDate, SSN, AccountID, AccountOpened, AccountType]
Index: []

In [34]:
print(df_bank_loaded[duplicates].index.tolist())

[]

5. Check whether the customers all have unique AccountIDs.  If not, provide the first example of a non-unique AccountId.

Suggested Google search or ChatGPT prompt: "how can I find the first non-unique item from a pandas Series in python"

By the way: why didn't I ask the question "how can I check whether the customers all have unique AccountIDs"?

The problem would be that Google and ChatGPT don't know what "customers" you are talking about.  It's important to understand that the AccountIDs are a column of a DataFrame, and as such they are a Series.  Therefore, we should use the correct vocabulary and ask about a Series.  If you mess up and ask about a "list" instead of a Series, you _might_ get an answer that still works.  But it's better to get the vocabularly right.

It's important to add "in python" because this task could be performed in many languages.

ChatGPT gave me this suggestion: data[data.isin(data[data.duplicated()])].iloc[0]
However, ChatGPT did not explain how this code worked and even claimed (falsely) that it was going to use the value_counts() function in the solution.  So although the code is correct, I personally found ChatGPT's answer very confusing.  You could, perhaps, ask ChatGPT to explain further how this code works.

ChatGPT, "How does this code work: data[data.isin(data[data.duplicated()])].iloc[0]"

On the other hand, Google leads me to the documentation for the duplicated() function:

https://pandas.pydata.org/docs/reference/api/pandas.Series.duplicated.html

Here, I can see that when I really need is data.duplicated(keep = False), where "data" should be the Series in question.  However, this just gives me a Series of boolean values indicating which ones are duplicates.  I have to somehow know that extracting the numerical values instead of a Series of booleans involves boolean indexing: data\[data.duplicated(keep = False)].

So as usual, I'd suggest that a combination of Google, documentation, and ChatGPT will give you the best information.

In [36]:
df_bank_no_duplicates = df_bank_loaded.drop_duplicates()

In [37]:
print(df_bank_no_duplicates["AccountID"].is_unique)

False

In [38]:
accountid_counts = df_bank_no_duplicates["AccountID"].value_counts()
duplicates = accountid_counts[accountid_counts > 1]

In [39]:
print("Duplicate AccountIDs:\n", duplicates)

Duplicate AccountIDs:
 AccountID
67.0    3
24.0    3
61.0    3
3.0     3
34.0    3
83.0    2
56.0    2
75.0    2
33.0    2
54.0    2
79.0    2
41.0    2
71.0    2
31.0    2
29.0    2
86.0    2
11.0    2
23.0    2
10.0    2
27.0    2
9.0     2
39.0    2
46.0    2
53.0    2
35.0    2
88.0    2
85.0    2
32.0    2
44.0    2
Name: count, dtype: int64

In [40]:
if not duplicates.empty:
    first_duplicate_id = duplicates.index[0]
    print(f"First duplicate AccountID: {first_duplicate_id}")
    print(df_bank_no_duplicates[df_bank_no_duplicates["AccountID"] == first_duplicate_id])
else:
    print("All AccountIDs are unique.")

First duplicate AccountID: 67.0
    CustomerID  BirthDate          SSN  AccountID AccountOpened AccountType
1          1.0        NaT  682-76-9175       67.0    2039-02-20          cd
39        39.0 1952-01-26  810-29-3625       67.0    1983-11-04    checking
67        67.0 2019-05-11  392-50-0406       67.0    2036-06-20     savings

In [41]:
print(df_bank_no_duplicates["AccountID"].is_unique)

False

In [42]:
accountid_counts = df_bank_no_duplicates["AccountID"].value_counts()

In [43]:
duplicates = accountid_counts[accountid_counts > 1]

In [44]:
print("Duplicate AccountIDs:\n", duplicates)

Duplicate AccountIDs:
 AccountID
67.0    3
24.0    3
61.0    3
3.0     3
34.0    3
83.0    2
56.0    2
75.0    2
33.0    2
54.0    2
79.0    2
41.0    2
71.0    2
31.0    2
29.0    2
86.0    2
11.0    2
23.0    2
10.0    2
27.0    2
9.0     2
39.0    2
46.0    2
53.0    2
35.0    2
88.0    2
85.0    2
32.0    2
44.0    2
Name: count, dtype: int64

In [45]:
if not duplicates.empty:
    first_duplicate_id = duplicates.index[0]
    print(f"First duplicate AccountID: {first_duplicate_id}")

    # Show rows with that AccountID
    print(df_bank_no_duplicates[df_bank_no_duplicates["AccountID"] == first_duplicate_id])
else:
    print("All AccountIDs are unique.")

First duplicate AccountID: 67.0
    CustomerID  BirthDate          SSN  AccountID AccountOpened AccountType
1          1.0        NaT  682-76-9175       67.0    2039-02-20          cd
39        39.0 1952-01-26  810-29-3625       67.0    1983-11-04    checking
67        67.0 2019-05-11  392-50-0406       67.0    2036-06-20     savings

6. Count how many distinct AccountIDs there are.

Suggested Google search or ChatGPT prompt: "how can I find out how many distinct items there are in a pandas Series using python"

This time Google provides me with a page that's specifically made to answer this question:

https://www.geeksforgeeks.org/how-to-count-distinct-values-of-a-pandas-dataframe-column/

In [46]:
num_unique_ids = df_bank_loaded["AccountID"].nunique()

In [47]:
print(f"Number of distinct AccountIDs: {num_unique_ids}")

Number of distinct AccountIDs: 64

7. Remove the duplicate AccountIDs so that each AccountID appears only once.

This will involve using data.duplicated() but this time without keep = False.  We don't want to drop all duplicates; we want to leave one example of each value.

In [48]:
accountid_duplicates = df_bank_no_duplicates.duplicated(subset="AccountID")

In [49]:
print(df_bank_no_duplicates[accountid_duplicates])

    CustomerID  BirthDate          SSN  AccountID AccountOpened AccountType
23        23.0 2021-12-11  939-09-9746       56.0    2071-09-01          cd
24        24.0 1996-04-30  041-33-6362       24.0    2050-05-22          cd
30        30.0 1963-04-14  168-31-0272       79.0    1970-04-19     savings
38        38.0 1977-12-05  509-93-1650       24.0    2039-11-09          cd
39        39.0 1952-01-26  810-29-3625       67.0    1983-11-04    checking
44        44.0 2018-06-12  275-51-1419       86.0    2095-12-10    checking
45        45.0 2015-04-10  931-24-3971       61.0    2078-11-23     savings
49        49.0 2007-10-28  494-36-1748       32.0    2069-08-14    checking
50        50.0 1973-12-02  066-09-7361       11.0    2033-01-08     savings
53        53.0 2001-02-18  716-06-9646       54.0    2063-01-25    checking
58        58.0 2011-10-04  770-07-1306       83.0    2050-11-27          cd
65        65.0 2004-10-10  632-10-8112       53.0    2071-12-12    checking
66        66.0 1959-10-01  929-11-8240       29.0    1962-08-06          cd
67        67.0 2019-05-11  392-50-0406       67.0    2036-06-20     savings
68        68.0 1984-09-15  169-24-7872       35.0    2052-06-10    checking
72        72.0 2008-07-03  371-57-0218       41.0    2023-01-17     savings
73        73.0 2006-10-11  226-86-6547       23.0    2032-07-17          cd
74        74.0 2023-01-19  086-36-1272        3.0    2093-12-24          cd
75        75.0 1990-01-18  708-41-3884       46.0    2024-01-24     savings
78        78.0 1973-08-10  020-16-6942        3.0    1990-01-24     savings
79        79.0 2014-09-16  628-96-2584       31.0    2067-03-24     savings
80        80.0 2006-04-28  763-71-6221        9.0    2029-03-10     savings
81        81.0 2023-12-26  299-00-8770       10.0    2029-12-29     savings
82        82.0 2002-02-20  085-93-3571       27.0    2014-12-14     savings
84        84.0 2002-12-14  165-25-5019       71.0    2073-04-12          cd
85        85.0 1994-08-16  911-34-2861       39.0    2047-12-05     savings
86        86.0 1983-11-16  787-21-6240       61.0    2044-05-16     savings
87        87.0 2001-01-08  026-22-8040       85.0    2015-05-15     savings
89        89.0 1985-10-06  627-48-7327       44.0    2061-04-05    checking
91        91.0 1997-10-16  627-23-0106       34.0    2027-10-14    checking
92        92.0 1989-03-21  310-31-9554       88.0    1991-03-23     savings
93        93.0 1964-05-18  596-66-1496       33.0    2023-01-01    checking
97        97.0 1960-09-23  773-33-2797       75.0    1993-09-16          cd
98        98.0 1975-08-17  846-64-7054       34.0    2032-12-25     savings
99         NaN        NaT          NaN        NaN           NaT         NaN

In [50]:
df_bank_unique_accountids = df_bank_no_duplicates[~accountid_duplicates]

In [51]:
print(f"Rows before: {len(df_bank_no_duplicates)}")
print(f"Rows after removing duplicate AccountIDs: {len(df_bank_unique_accountids)}")

Rows before: 100
Rows after removing duplicate AccountIDs: 65

In [52]:
print(df_bank_unique_accountids["AccountID"].is_unique)

True

8. What are the mean, median, and mode customer age in years?  (Rounding down to the next lower age.)
Are there any outliers?  (Customers with very large or very small ages, compared with the other ages?)

Suggested Google search or ChatGPT prompt: "how can I find out the mean, median, and mode of a pandas Series"

In [ ]:
df_bank_unique_accountids["BirthDate"] = pd.to_datetime(df_bank_unique_accountids["BirthDate"])

In [ ]:
today = pd.Timestamp.today()

In [ ]:
df_bank_unique_accountids["Age"] = (today - df_bank_unique_accountids["BirthDate"]).dt.days // 365

In [ ]:
mean_age = df_bank_unique_accountids["Age"].mean()
median_age = df_bank_unique_accountids["Age"].median()
mode_age = df_bank_unique_accountids["Age"].mode().iloc[0]

In [ ]:
print(f"Mean age: {mean_age:.2f} years")
print(f"Median age: {median_age} years")
print(f"Mode age: {mode_age} years")

In [ ]:
print("Min age:", df_bank_unique_accountids["Age"].min())
print("Max age:", df_bank_unique_accountids["Age"].max())

9. One-hot encode the AccountType column.  This means creating a new "checking," "savings", and "cd" columns so that you can run machine learning algorithms.

In [ ]:
df1 = df_bank_unique_accountids.copy()

In [ ]:
one_hot = pd.get_dummies(df1["AccountType"])

In [ ]:
df2 = df1.join(one_hot)

In [ ]:
print(df2.head())

In [ ]:
one_hot = pd.get_dummies(df1["AccountType"])
df2 = df2.join(one_hot)
df2.iloc[0:5]

Now, change the cd, checking, and savings columns into integers.

In [ ]:
df2["cd"] = df2["cd"].astype(int)
df2["checking"] = df2["checking"].astype(int)
df2["savings"] = df2["savings"].astype(int)

In [ ]:
print(df2[["cd", "checking", "savings"]].head())

10. Are there any other data values that do not seem right?  If not, give an example?

I don't think Google or ChatGPT alone will help you here.  To answer the question, look at the columns and think about what relationships they should have with each other.  For example, it seems reasonable to expect that BirthDate would be no earlier than 120 years ago (it's unlikely that a customer would be this old.)  Now we can ask Google:

"How can I find out how long ago a pandas date is"

Google provides this helpful link, although it is not exactly the solution - you'll have to work with it a bit:

https://stackoverflow.com/questions/26072087/pandas-number-of-days-elapsed-since-a-certain-date

If you check, I think you'll find that all dates are more recent than 120 years ago.  What about the AccountOpened columns?  I see some obviously wrong dates there just by looking at the first few rows.

Along those same lines, are there any birth dates that are too recent?  Do we think that any two year olds will have opened bank accounts?  How common do you think this is in real life?  How common is it in our data set?  Can you detect the two year olds opening bank accounts using just one column, or do you need two columns?

In [ ]:
print("Oldest customer:", df2["Age"].max())
print("Youngest customer:", df2["Age"].min())

In [ ]:
df2["BirthDate"] = pd.to_datetime(df2["BirthDate"])
df2["AccountOpened"] = pd.to_datetime(df2["AccountOpened"])

In [ ]:
wrong_opened = df2[df2["AccountOpened"] < df2["BirthDate"]]

In [ ]:
print(f"Accounts opened before birth date: {len(wrong_opened)}")
print(wrong_opened[["CustomerID", "BirthDate", "AccountOpened"]])

In [ ]:
df2["AgeWhenOpened"] = (df2["AccountOpened"] - df2["BirthDate"]).dt.days // 365

In [ ]:
print("Youngest age at account opening:", df2["AgeWhenOpened"].min())
print(df2[df2["AgeWhenOpened"] < 5][["CustomerID", "BirthDate", "AccountOpened", "AgeWhenOpened"]])

11. Use Matplotlib and/or Seaborn to analyse the ages at which customers open their account.  Is there a connection between the year they are born vs. the age at which they open the account?  Graph this in whatever way you think is best.

I asked Google and ChatGPT: "How can I plot dates vs. dates in Matplotlib".  This gave me a hard time at first - I had to tell ChatGPT it was giving me the wrong information because it tried to plot dates vs. numbers.  Eventually, I found out that you plot dates vs. dates in the same way you'd plot numbers vs. numbers.

Think in terms of Storytelling With Data to plot these as best you can.  Once you've seen the result, try to think of the best way to plot the data so as to show the user what you want them to see.  Title the graph so as to display the lesson that you want the user to take away.
Here are some options for the axes:

1. A scatter or line plot: On the x-axis, the date they are born.  On the y-axis, the date they open the account.
2. A scatter or line plot: On the x-axis, the date they are born.  On the y-axis, the age in years at which they open the account.
3. A scatter or line plot: On the x-axis, they year (integer) they are born.  On the y-axis, the age in years at which they open the account.
4. A histogram: on the x-axis, the age at which they open the account.

Here is an example:

In [ ]:
import matplotlib.pyplot as plt

ax = plt.gca() # get an "Axes" object to draw on; gca stands for "get current Axes"
ax.scatter(df2["BirthDate"], df2["AccountOpened"]) # create a scatter plot based on these two dates
ax.set_ylabel("Account Opened") # label the y axis
ax.set_xlabel("Birth Date") # label the x axis

In [ ]:
import pandas as pd


df2["BirthDate"] = pd.to_datetime(df2["BirthDate"])
df2["AccountOpened"] = pd.to_datetime(df2["AccountOpened"])

df2["AgeWhenOpened"] = (df2["AccountOpened"] - df2["BirthDate"]).dt.days // 365

In [ ]:
plt.figure(figsize=(10,6))
plt.scatter(df2["BirthDate"], df2["AccountOpened"], alpha=0.5)
plt.xlabel("Birth Date")
plt.ylabel("Account Opened Date")
plt.title("Customer Birth Date vs. Account Opened Date")
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
plt.scatter(df2["BirthDate"], df2["AgeWhenOpened"], alpha=0.5)
plt.xlabel("Birth Date")
plt.ylabel("Age at Account Opening (years)")
plt.title("Are Younger Generations Opening Accounts Earlier?")
plt.show()

In [ ]:
df2["BirthYear"] = df2["BirthDate"].dt.year

plt.figure(figsize=(10,6))
plt.scatter(df2["BirthYear"], df2["AgeWhenOpened"], alpha=0.5)
plt.xlabel("Birth Year")
plt.ylabel("Age at Account Opening (years)")
plt.title("Do More Recent Birth Cohorts Open Accounts Earlier?")
plt.show()

In [ ]:
plt.figure(figsize=(10,6))
plt.hist(df2["AgeWhenOpened"], bins=20, edgecolor='black')
plt.xlabel("Age at Account Opening (years)")
plt.ylabel("Number of Customers")
plt.title("Distribution of Ages at Account Opening")
plt.show()

# 4. Storytelling With Data graph

Choose any graph in the Introduction of Storytelling With Data.  Using matplotlib to reproduce it in a rough way.  I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph.  However, if you're excited about learning to use matplotlib, this is a good way to do that.  You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.

In [ ]:
months = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"]


received = [160, 184, 241, 149, 180, 161, 150, 202, 156, 139, 149, 177]
processed = [160, 184, 237, 148, 181, 150, 132, 160, 126, 104, 124, 140]


x = np.arange(len(months))

width = 0.35

fig, ax = plt.subplots(figsize=(12, 6))

In [ ]:
ax.bar(x - width/2, received, width, label='Ticket Volume Received', color='blue')

In [ ]:
ax.bar(x + width/2, processed, width, label='Ticket Volume Processed', color='red')

In [ ]:
ax.set_xlabel('Month')
ax.set_ylabel('Number of Tickets')
ax.set_title('Ticket Trend')
ax.set_xticks(x)
ax.set_xticklabels(months, rotation=45)

In [ ]:
ax.legend()

In [ ]:
plt.tight_layout()
plt.show()